@import "../../App.scss";

.food-diary {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //   grid-template-columns: 1fr auto;
  max-width: $maxWidth();
  margin: auto;

  h1 {
    font-size: 25px;
  }

  .food-container {
    font-size: 17px;
    width: 940px;
    margin: 20px auto;

    .food-table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 66%;
    }
  }

  colgroup {
  }
  .meal-header {
    color: #00548f;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 5px 10px 5px;
  }

  .nutrient-column {
    background: #00548f;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;

    .subtitle {
      text-transform: lowercase;
    }
  }
  tr {
    text-align: center;
  }
}
