@import "../../App.scss";

.food-diary {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //   grid-template-columns: 1fr auto;
  max-width: $maxWidth();
  margin: auto;

  // Line under the header
  span {
    width: $maxWidth;
    border-bottom: 1px solid $Lighter-blue;
  }

  &-heading,
  h1 {
    font-size: 27px;
    color: $Darker-blue;
    text-transform: capitalize;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    align-self: center;

    &__text {
      font-weight: bolder;
    }
    &__date,
    button {
      background-color: $Darker-blue;
      color: white !important;
      margin-left: 3px;
      margin-right: 3px;
      padding: 5px;
      height: 60px;
      align-items: center;
      font-size: 18px !important;
    }
    &__button {
      width: 40px;
      align-self: center;

      &.prev {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
      }
      &.next {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }

  .food-diary-container {
    font-size: 17px;
    width: 940px;
    margin: 20px auto;

    .food-table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 66%;
    }
  }

  .meal-header {
    color: #00548f;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 5px 10px 5px;
  }

  .nutrient-column {
    background: #00548f;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;

    .subtitle {
      text-transform: lowercase;
    }
  }
  tr {
    text-align: center;
  }
}
