@import "../../App.scss";

header {
  background-color: $Lighter-blue;
  width: 100%;

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: left;
      flex-direction: row;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: auto;

      // --

      max-width: $maxWidth;

      li a {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 45px;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff !important;
        padding: 0 21px;
        display: block;
        &:hover {
          background-color: $Darker-blue;
          color: white;
        }
      }
    }
  }
}
