@import "../../App.scss";

.food-diary {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //   grid-template-columns: 1fr auto;
  max-width: $maxWidth();
  margin: auto;

  // Line under the header
  span {
    width: $maxWidth;
    border-bottom: 1px solid $Lighter-blue;
  }

  &-heading,
  h1 {
    font-size: 20px;
    color: $Darker-blue;
    text-transform: capitalize;
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 10px;
    align-self: center;

    &__text {
      font-weight: bolder;
    }
    &__date,
    button {
      background-color: $Darker-blue;
      color: white !important;
      margin-left: 2px;
      margin-right: 2px;
      padding: 5px;
      height: 43px;
      align-items: center;
      font-size: 15px !important;
      padding-right: 5px !important;
    }
    &__button {
      width: 40px;
      align-self: center;
      border-style: none;
      cursor: pointer;

      &:hover {
        background-color: $Lighter-blue;
      }

      &.prev {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
      &.next {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }

  .food-diary-container {
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .food-table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  }

  .meal-header {
    color: #00548f;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    padding: 15px 5px 5px 5px;
  }

  .nutrient-column {
    background: #00548f;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border: 1px solid #fff;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;

    .subtitle {
      text-transform: lowercase;
    }
  }
  tr {
    text-align: center;
    padding-bottom: 0px !important;
  }
  thead {
    display: flex;
    justify-content: flex-end;
  }
}
