.food-diary-content {
   tr.macros {
      td {
         background-color: rgb(238, 238, 238);
         text-transform: capitalize;
      }
   }

   tr.buttom-bar {
      color: rgb(93, 93, 255);
      font-weight: bold;
   }
}
