ul {
  background-color: #0072bf;

  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: left;
  flex-direction: row;

  li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff !important;
    padding: 0 21px;
    display: block;
  }

  li a:hover {
    background-color: #00548f;
    color: white;
  }
}
